<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <nav><a href="/">Home</a><a href="/markets">All Markets</a><a href="/markets/new">Create a New Marketplace</a></nav>
    <h1> <%= title %></h1>