body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.showPage {
  margin: 15px;
  padding: 15px;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  width: 50vw;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  border-radius: 50%;
  margin-right: 10px;
}
.page {
  text-align: center;
  word-wrap: break-word;
 
}
.table {
  margin: auto;
  text-align: center;
}
.nav {
  text-align: right;
  background-color: #B8C0C2;
  padding: 20px 20px 20px 30px;
  
}
nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-size: large;
  font-style: oblique;
  font-weight: 600;
  color: black;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}
.reviewsTable {
  display: block;
  overflow-y: scroll;
  max-height: 45vh;
  width: 40vw;
  border-radius: 5%;
  margin: auto;

}

.listingTable {
  display: block;
  overflow-y: scroll;
  max-height: 50vh;
  width: 40vw;
  table-layout: fixed;
  border-radius: 5%;
  margin: auto;
}
td {
  background-color: #dbdbdb;
  border-radius: 10%;  
  padding: 10px 20px 10px 20px;
}
.itemImg{
 width: 8vw;
}
.itemAndDescrip {
  height: 13vh;
  max-width: 10vw;
}
.reviewText {
  max-width: 15vw;
}
.deleteBox {
  background-color: #B8C0C2;

}
.editBtn{
  color: rgb(33, 33, 33);
}
