<%- include("../partials/header") %>
<h2>Create a New MarketPlace</h2>
<form action="/markets" method="POST">
    <label> Store Name
        <input type="text" name="name">
    </label>
    <br><br>
    <label>Store Location
        <input type="text" name="location">
    </label>
    <br> <br>
    <label> Category
        <select name="category">
            <option value="Furniture">Furniture</option>
            <option value="Fishing Supplies">Fishing Supplies</option>
            <option value="Appliances">Appliances</option>
            <option value="Hunting Gear">Hunting Gear</option>
            <option value="Outdoors">Outdoors</option>
            <option value="Vehicles">Vehicles</option>
            <option value="Groceries">Groceries</option>
            <option value="Hardware and Tools">Hardware and Tools</option>
        </select>
    </label>
    <button type="submit">Create Marketplace</button>
</form>


<%- include("../partials/footer") %>